<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @* Fav Icon *@
    <link rel="icon" type="image/png" sizes="32x32" href="https://ism.gov.in/static/dist/favicon/favicon-32x32.png">

    @* Title *@
    <title>@ViewData["Title"] | India Semiconductor Mission</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/ismapp.css">
</head>
<body>
    <div class="ism-main">
        @Html.Partial("_Header.cshtml")

        <div class="container">
            @Html.Partial("_Menu.cshtml")
            @Html.Partial("_Home.cshtml")
        </div>


        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    
</body>
</html>
